DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/hono_enterprise
REDIS_URL=redis://127.0.0.1:6379
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
OSS_REGION=
OSS_BUCKET=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
